<h1>My list of restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
<% end %>
<p><%= link_to 'add resto', new_restaurant_path %></p>
