
<h1>Restaurant Description</h1>
<li>Name: <%=@restaurant.name%></li>
<br>
<li>Address: <%=@restaurant.address%></li>
<br>
<li>Category: <%=@restaurant.category%></li>
<br>
<li><%=@restaurant.restaurants[id].reviews%></li>
